body {
  background-image: url("BG.jpg");
  background-repeat: no-repeat;
}

.heading1 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.p {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: white;
}

#footer {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0.7;
}

.nav {
  display: flex;
  background: rgba(230, 230, 230, 0.7);
  padding: 10px;
  border-radius: 4px;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: rgba(230, 230, 230, 0.7);
}

.nav-pills .nav-link.active {
  color: #fff;
  cursor: default;
  background-color: #5277ae;
}

.nav-pills .nav-link {
  color: #5277ae;
}
