body {
  background-image: url("bg.jpg");
  background-repeat: repeat;
}

/* Nav bar  */

.nav {
  display: flex;
  background: rgba(4, 4, 4, 0.8);
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  border: 2px solid #7e00ec;
  margin-bottom: 18px;
}

.nav-pills .nav-link.active {
  color: #fff;
  cursor: default;
  background-color: #4a018a;
}

.nav-pills .nav-link {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.nav-pills .nav-link.active:hover {
  background-color: #4a018a;
}

.nav-pills .nav-link.active:focus {
  background-color: #4a018a;
}

.navbar-brand{
  background-color: white;
}

/* Nav Bar end */

/* Carosel  */

.carousel {
  position: relative;
}

.carousel-inner>.carousel-item>img {
  margin: auto;
}

.carousel-caption {
  font-family: 'Raleway', sans-serif;
}

/* Carosel end   */

/* Jumbotron */

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid #7e00ec;
  background: rgba(4, 4, 4, 0.8);
}

.heading1 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.p {
  font-family: 'Raleway', sans-serif;
  display: block;
  color: #fff;
}

#button {
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  background-color: #4a018a;
  color: #fff;
  border: none;
  padding: 6px 16px 6px;
}

/* Jumbotron End*/

/* Cards */

.card {
  padding: 15px;
  margin-bottom: 15px;
  background: rgba(4, 4, 4, 0.8);
  border: 2px solid #7e00ec;
  border-radius: 4px;
}

.btn-primary {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background-color: #4a018a;
  border: none;
}

.btn-primary:hover {
  background-color: #4a018a;
}

.btn-primary:focus {
  background-color: #4a018a;
}

.img-fluid {
  margin-bottom: 10px;
}

.card-title {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.card-text {
  font-family: 'Raleway', sans-serif;
  color: white;
}

/* Cards end */

/* footer */

.footer {
  font-family: 'Raleway', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background: rgba(4, 4, 4, 0.8);
  border: 2px solid #7e00ec;
  border-radius: 4px 4px 0px 0px;
  padding: 10px;
}

.footer p {
  margin-bottom: 0px;
}

/* footer end */
