body {
  background-image: url("BG.jpg");
  background-repeat: no-repeat;
}

/* Nav bar  */

.nav {
  display: flex;
  background: rgba(230, 230, 230, 0.7);
  padding: 10px;
  border-radius: 4px;
}

.nav-pills .nav-link.active {
  color: #fff;
  cursor: default;
  background-color: #5277ae;
}

.nav-pills .nav-link {
  color: #fff;
}

/* Nav Bar end */

/* Jumbotron */

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: rgba(230, 230, 230, 0.7);
}

.heading1 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.p {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #fff;
}

#button {
  border-radius: 4px;
  background-color: #5277ae;
  color: #fff;
  border: none;
}

/* Jumbotron End*/

/* Cards */

.card {
  padding: 5px;
  margin-bottom: 15px;
  background: rgba(230, 230, 230, 0.7);
  border: none;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #5277ae;
  border: none;
}

/* Cards end */

/* footer */

#footer {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.7;
}

/* footer end */
